alembic
certifi
charset-normalizer
click
dnspython
email-validator
Flask
Flask-Dance
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
Flask-WTForms
greenlet
idna
itsdangerous
Jinja2
Mako
MarkupSafe
mysql-connector-python-rf
numpy
oauthlib
pandas
python-dateutil
pytz
requests
requests-oauthlib
six
SQLAlchemy
urllib3
URLObject
Werkzeug
WTForms
