{% extends "layouts/base.html" %}

{% block title %} Peliculas {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}


  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
      <div class="d-block mb-4 mb-md-0">
          <h2 class="h4">Todas las peliculas</h2>
          <p class="mb-0">Aqui esta la informacion completa de mis peliculas.</p>
      </div>
  </div>
  


  <div class="card border-0 shadow">
    <div class="card-body">

    </div>
</div>
   

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
